.home-nav {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  width: 100%;

  background-color: rgb(246, 231, 235);

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

.home-nav div img {
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.home-nav-profile {
  margin-left: 5px;
}

.home-nav-title h1 {
  cursor: pointer;
}

.home-nav-title h1 a {
  text-decoration: none;
  color: black;
}

.home-nav-fav-wallet {
  margin-right: 40px;

  display: flex;
  flex-direction: row;

  gap: 5px;

  width: 90px;

  align-items: center;
  justify-content: space-between;
}

.food-main {
  margin-top: 120px;
  display: flex;
  flex-direction: column;

  margin-left: 80px;
  margin-right: 20px;
}

.food-main-restaurant {
  display: flex;
  flex-direction: row;
}

.food-main-restaurant-img img {
  width: 160px;
  height: 180px;
  object-fit: cover;
  object-position: left;
  border-radius: 15px;
}

.food-main-restaurant-detail {
  display: flex;
  flex-direction: column;

  margin-left: 10px;
}

.food-main-restaurant-detail h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
}

.food-main-restaurant-detail-1 {
  display: flex;
  flex-direction: row;

  align-items: center;

  margin-bottom: 0;
  margin-top: 0;
  height: 20px;
}

.food-main-restaurant-detail-1 img {
  width: 25px;
  height: 25px;
}

.food-main-restaurant-detail-1 p {
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.food-main-restaurant-detail-2 {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.food-main-restaurant-detail-2 img {
  width: 25px;
  height: 25px;
}

.food-main-restaurant-detail-2 p {
  margin-left: 5px;
}

.food-main-restaurant-detail-2 a {
  margin-left: 10px;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  padding: 5px 5px;
}

.food-main-restaurant-detail-2 a:hover {
  background-color: rgb(200, 212, 223);
  border-radius: 5px;
}

.food-main-favourite {
  display: flex;
  flex-direction: column;

  align-items: flex-end;
}

.food-main-favourite-1 {
  display: flex;
  flex-direction: row;

  align-items: center;

  margin-right: 100px;

  border: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 0px 15px;
  cursor: pointer;
}

.food-main-favourite-1:hover {
  padding: 1px 16px;
}

.food-main-favourite-1 img {
  width: 25px;
  height: 25px;
}

.food-main-favourite-1 p {
  margin-left: 10px;
  font-size: 18px;
  color: rgb(97, 72, 72);
}

.food-main-item {
  display: flex;
  flex-direction: row;

  position: relative;
  margin-top: 50px;
}

.food-main-item-start {
  display: flex;
  flex-direction: column;
}

.food-main-item-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 20px;
}

.item-1-container {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  width: 450px;
  border: 1px solid;
  border-radius: 10px;
  height: 220px;
  border-color: rgba(2,2,2,0.3);

  position: relative;
}

.item-1-container-1 {
  display: flex;
  flex-direction: column;

  margin-left: 10px;
  margin-top: 20px;

  width: 60%;
}

.item-1-container-1 h1 {
  font-size: 17px;
  margin-bottom: 0px;
}

.item-1-container-1 p {
  width: 100%;
}

.item-1-container-1-p1 {
  margin-bottom: 0px;
}

.item-1-container-1-p2 {
  opacity: 0.6;
  font-size: 18px;
}

.item-1-container-2 {
  margin-right: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.item-1-container-2 img {
  width: 140px;
  height: 140px;

  border-radius: 10px;
}

.food-main-item-2 {
  display: flex;
  flex-direction: column;

  width: 350px;

  border: 1px solid rgba(2,2,2,0.3);
  border-radius: 10px;
  margin-left: 40px;

  right: 100px;
  bottom: 20px;
  margin-top: 40px;
}

.food-main-item-2-1 {
  align-self: center;

  border: 1px solid rgba(2,2,2,0.3);
  border-radius: 5px;
  height: 40px;
  margin-top: 20px;
  padding: 5px 20px;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.food-main-item-2-1 h1 {
  font-size: 16px;
  color: rgb(78, 72, 72)
}

.food-main-item-2-3 {
  display: flex;
  flex-direction: column;
}

.food-main-item-2-3 div {
  display: flex;
  flex-direction: row;

  align-items: center;

  justify-content: space-between;
}

.food-main-item-2-3 div h1 {
  font-size: 17px;
  margin-left: 10px;
}

.food-main-item-2-3 div h1 span {
  opacity: 0.4;
  font-size: 14px;
  font-weight: normal;
}

.food-main-item-2-3 div p {
  margin-right: 10px;
}

.food-main-item-2-3 button {
  width: 290px;
  align-self: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgb(84, 70, 66);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.food-empty-container {
  display: none;
  flex-direction: column;

  align-items: center;
}

.food-empty {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  font-size: 28px;
  font-weight: bolder;
  border: solid;
  border-width: 1px;
  border-radius: 10px;

  width: 600px;
  height: 60px;
}

.add-to-cart {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-around;
  border: none;
  border-width: 1px;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  background-color: rgb(204, 175, 175);

  position: absolute;
  right: 20px;
  bottom: 10px;
}

.add-to-cart-1 {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-around;
  border: none;
  border-width: 1px;
  border-radius: 20px;
  width: 80px;
  height: 30px;
  background-color: rgb(204, 175, 175);
  margin-right: 10px;
}

.add-to-cart-plus {
  font-size: 20px;
  border-radius: 50%;
  border: none;
  width: 25px;
  height: 25px;

  display: flex;
  flex-direction: column;
  
  align-items: center;
  background-color: rgb(85, 90, 94);
  color: white;
  cursor: pointer;
}

.add-to-cart-count {
  font-size: 20px;
  color: white;
}

.add-to-cart-minus {
  font-size: 20px;

  border-radius: 50%;
  border: none;
  width: 25px;
  height: 25px;

  display: flex;
  flex-direction: column;
  
  align-items: center;

  background-color: rgb(122, 108, 108);
  color: white;
  cursor: pointer;
}

.food-main-item-2-2 {
  display: flex;
  flex-direction: column;
}

.food-main-item-2-2 h1 {
  margin-left: 10px;
  font-size: 19px;
}

.food-main-item-2-2-start {
  display: flex;
  flex-direction: column;

  margin-left: 10px;
}

.item-1 {
  display: flex;
  flex-direction: row;
}

.item-1 img {
  width: 50px;
  height: 50px;

  border-radius: 5px;
  object-fit: cover;
}

.item-1-1 {
  display: flex;
  flex-direction: column;

  margin-left: 10px;

  width: 100%;
}

.item-1-1-p {
  font-size: 18px;
  margin-top: 0;
  font-weight: 500;
  margin-bottom: 0px;
}

.item-1-1-1 {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  margin-top: 2px;
}

.Review-page {
  display: none;
  flex-direction: column;

  position: fixed;
  z-index: 1000;
  left: 400px;
  right: 400px;
  top: 10%;
  bottom: 10%;
  overflow: auto;

  border: none;
  border-radius: 10px;

  background-color: rgb(248, 243, 243);
}

.Reviews-page-header {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  margin-left: 15px;
  margin-bottom: 0;
  margin-top: 10px;

  height: 40px;
}

.Reviews-page-header-2 {
  display: none;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  background-color: rgb(250, 247, 247);
  margin-left: 0;
  margin-top: 0;

  position: fixed;
  z-index: 1001;
  left: 400px;
  right: 415px;
  top: 10%;

  height: 60px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid rgba(2,2,2,0.3);
}

.Reviews-page-header-2 h1 {
  margin-left: 15px;
  font-size: 22px;
}

.Reviews-page-header-2 p {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  font-size: 18px;

  margin-right: 10px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: rgb(226, 212, 212);
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(2,2,2,0.4);
}

.Reviews-page-header h1 {
  font-size: 22px;
}

.Reviews-page-header p {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  font-size: 18px;

  margin-right: 10px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: rgb(226, 212, 212);
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(2,2,2,0.4);
}

.Review-page-p {
  opacity: 0.6;
  margin-top: 0;
  margin-left: 15px;
}

.Review-page-div1 {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  border: 1px solid rgba(2,2,2,0.3);
  border-radius: 10px;

  width: 90%;
  height: 180px;
  align-self: center;

  margin-top: 30px;
  background-color: white;
}

.Review-page-div1-1 {
  display: flex;
  flex-direction: column;

  justify-content: center;
  margin-left: 35px;
}

.Review-page-div1-1 h1 {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 0;
}

.Review-page-div1-1 img {
  height: 20px;
  margin-top: 5px;
  margin-bottom: 0;
}

.Review-page-div1-1 p {
  font-size: 15px;
  margin-top: 5px;
}

.Review-page-div1-2 {
  display: flex;
  flex-direction: column;

  margin-right: 35px;

  align-items: center;
  justify-content: center;
}

.Review-page-div1-2 div {
  display: flex;
  flex-direction: row;

  align-items: center;

  height: 22px;
}

.Review-page-div1-2 div img {
  height: 15px;
  margin-left: 2px;
  margin-right: 3px;
}

.Review-page-div1-2 div div {
  display: flex;
  flex-direction: column;
  
  width: 200px;
  height: 8px;
  border: none;
  border-radius: 20px;
  
  background-color: rgb(246, 216, 216);
}

.Review-page-div1-2 div div div {
  display: flex;
  flex-direction: column;
  width: 0%;
  height: 100%;
  border-radius: 20px;
  border: none;
  align-self: flex-start;

  background: linear-gradient(90deg,rgb(235, 235, 42));
}

.Review-page-div2 {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.Review-page-div2-1 {
  display: flex;
  flex-direction: column;

  border: 1px solid rgba(2,2,2,0.3);
  border-radius: 10px;

  width: 90%;
  height: auto;
  align-self: center;

  margin-top: 50px;

  background-color: white;
}

.Review-page-div2-1 h1 {
  font-size: 20px;
  margin-left: 15px;
}

.Review-page-div2-1 div {
  display: flex;
  flex-direction: row;

  align-items: center;

  margin-left: 15px;
}

.Review-page-div2-1 div img {
  height: 15px;
}

.Review-page-div2-1 div p {
  font-size: 13px;
  height: 13px;
  margin-left: 5px;
  opacity: 0.6;
}

.Review-page-div2-1 p {
  margin-left: 15px;
  font-size: 18px;
  opacity: 0.7;
}

.Review-form {
  margin-top: 20px;
  background: #f9e7ed;
  padding: 15px;
  border-radius: 10px;
}

.Review-form h2 {
  margin-bottom: 10px;
}

.stars {
  font-size: 22px;
  cursor: pointer;
  color: #ccc;
}

.stars span.selected {
  color: gold;
}

.js-review-text {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,0.3);
}

.js-submit-review {
  margin-top: 10px;
  background-color: rgb(163, 58, 58);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.js-submit-review:hover {
  opacity: 0.8;
}