body {
  display: flex;
  flex-direction: column;

  font-family: Arial, Helvetica, sans-serif;

  align-items: center;
  background-color: rgb(155, 131, 239);
}

.sign-container {
  border: solid;
  height: 400px;
  width: 400px;
  border: none;
  border-radius: 5px;
  background-color: rgb(252, 250, 250);

  display: flex;
  flex-direction: column;
  position: relative;
}

.sign-container h1 {
  font-weight: bold;
  align-self: center;
}

.sign-container p,.sign-container input {
  margin-left: 20px;
}

.sign-container p {
  font-size: 14px;
  margin-bottom: 2px;
}

.sign-container input {
  padding: 10px 10px;
  width: 70%;
  border: none;
  border-bottom: solid;
  border-width: 2px;
}

.sign-container button {
  align-self: center;
  padding: 10px 50px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: white;
}

.signin-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.signin-login {
  margin-right: 5px;
  background-color: rgb(24, 129, 80);
}

.signin-signup {
  background-color: rgb(29, 149, 13);
}

.no-account {
  position: absolute;
  display: none;
  left: 25%;
  bottom: 10px;
  color: rgb(197, 70, 31);
}

.no-account h1 {
  font-size: 20px;
}