body {
  display: flex;
  flex-direction: column;

  font-family: Arial, Helvetica, sans-serif;

  align-items: center;
  background-color: rgb(155, 131, 239);
}

.sign-container {
  border: solid;
  width: 400px;
  border: none;
  border-radius: 5px;
  background-color: rgb(252, 250, 250);

  display: flex;
  flex-direction: column;

  position: relative;
}

.sign-container h1 {
  font-weight: bold;
  align-self: center;
}

.sign-container input {
  padding-right: 150px;
  padding-left: 10px;
  padding-top: 10px;
  align-self: flex-start;
}

.sign-container p,.sign-container input {
  margin-left: 20px;
}

.sign-container p {
  font-size: 14px;
  margin-bottom: 2px;
}

.sign-container-email, .sign-container-address {
  padding-bottom: 40px;
}

.sign-container-normal {
  padding-bottom: 10px;
}

.sign-container button {
  align-self: center;
  padding: 10px 100px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  color: white;
  background-color: rgb(156, 20, 36);
}

.signin-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 0;
}

.sign-login-a {
  margin-top: 0;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;

  justify-content: center;
}

.sign-login-a a {
  text-decoration: none;
  color: rgb(27, 5, 76)
}

.no-account {
  position: absolute;
  display: none;
  left: 22%;
  bottom: 0px;
  color: rgb(197, 70, 31);
  height: 22px;
}

.no-account h1 {
  font-size: 20px;
}